<div class="d-flex flex-column justify-content-between">
  <h1 mat-dialog-title class="text-center">Edit chatroom</h1>
 <b class="px-3">Username</b>
  <div class="m-2 w-100 ">
    <input type="text" class="form-control rounded "placeholder="Chatroom name" [(ngModel)]="chatroomName">
  </div>
  <div class="m-3">
    <input type="file" (change)="onFileSelected($event)" class="form-control w-100">
  </div>
    <h2 class="text-center">Users</h2>
<!-- users List -->
<div class="flex-wrap d-flex flex-row">
<div *ngFor="let user of usersList">
    <div class="d-flex align-items-center flex-column m-3">
      <img [src]="'http://localhost:8090/image/getImage/'+user.profileImage.id" alt="User avatar" style="border-radius: 50%; width: 70px; height: 70px;">
      <h4 class="ml-3 mb-0">{{user.username}}</h4>
      <h5 class="btn btn-danger" (click)="removeUserFromChatroom(user.username,chatroomId!)" style="font-size: 0.5rem; padding: 0.1rem 0.1rem;">Remove</h5>
    </div>
</div>
</div>
    <!-- add User -->
    <h3 class="px-3">Add User To chatroom</h3>
    <div class="container-fluid"><div class="row">
      <div class="col-md-8">
        <input type="input" [(ngModel)]="usernametToAdd" class="form-control w-100" placeholder="Enter Username">
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="addUserToChatroom(usernametToAdd!,chatroomId!)">
          <i class="bi bi-person-plus"></i>
          <span class="m-1">Add User</span>
        </button>
      </div>
    </div>
  </div>
  </div>
