<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-T4/ZzvydeGZJxTVZ+RgILfTtTByPJHYwoyD9aOCJnrmzYfHmgQd2kMC+1nFJhZoV7sIohc9X+bPtOmzCT2j3sQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');height: 250px;">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1>SHOP ONLINE</h1>
          <h3>Start SHOPPING.</h3>
          <br />
          <a href="" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
      </div>
  </div>
</div>
<div class="main">
  <div class="section section-white text-center">
  <div class="container">
      <div class="row">
          <div class="text-centre ">
  <form [formGroup]="addUserForm"  (submit)="upload(equipe)" enctype="multipart/form-data" >
    <label class="form-label">title</label>
    <input type="text" class="form-control"formControlName="name" [(ngModel)]="equipe.name"  required>

    <input type="hidden"    class="form-control" [value]="0" [(ngModel)]="equipe.id" formControlName="id">
    <label >price</label>
    <input type="number" class="form-control" [(ngModel)]="equipe.price" formControlName="price"  required>
    <label >quantity</label>
    <input type="number" class="form-control" formControlName="quantity" [(ngModel)]="equipe.quantity" required>
    <label >Description</label>
    <input type="text" class="form-control" formControlName="description" [(ngModel)]="equipe.description" required>
    <div class="form-group">
      <label for="equipmentType">Example select</label>
      <select class="form-control" formControlName="equipmentType" [(ngModel)]="equipe.equipmentType"  id="equipmentType">
      <option value="Sleeping" selected>Sleeping</option>
      <option value="bag">bag</option>
      <option value="Tent">Tent</option>
      <option value="Mat">Mat</option>
      <option value="Rope">Rope</option>
      <option value="Water">Water</option>
      <option value="Bottles">Bottles</option>
      <option value="FirstAids">FirstAids</option>
      <option value="Flashlights">Flashlights</option>
    </select>

</div>



  <br>
    <div class="form-group" >
      <label for="image">Image</label><div></div>
      <input type="file" class="form-control"  name="file" formControlName="imageData" (change)="onFileSelected($event)">
    </div>
  <div class="text-center text-lg-start mt-4 pt-2">
    <button type="submit" style="margin-left: 250px;width: 350px;" class="btn btn-primary ">ajouter</button>

  </div>

  </form>






          </div>
      </div>
      <br/><br/>
  </div>
</div>


</div>
