nav {
    background: linear-gradient(to right, grey, black);
    color: white;
}

nav .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav .content ul {
    list-style: none ;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0;
}

nav .content ul li {
    cursor: pointer;
    font-size: 22px;
    color:white;
    text-decoration:none;
}












.container-stat {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  display: flex;  /*Affichage en flex pour centrer les éléments */
  justify-content: center; /* Centrage horizontal des éléments */
  align-items: center; /* Centrage vertical des éléments */
  flex-direction: column;
}
.mon-bouton-stat {
  background: linear-gradient(45deg, #ff56ee,rgb(213, 207, 207));
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  font-size: 1.2rem;
}

.mon-bouton-stat:hover {
  background: linear-gradient(45deg,rgb(213, 207, 207),#ff56ee);
  box-shadow: 0 12px 20px rgba(0,0,0,0.3);
}














.search-wrap-1 {
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 30px;
  }
  
  .search-property-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-field {
    position: relative;
  }
  
  .form-field .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  .form-field .icon .fa-search:before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }


  .bootstrap-icon i.fa-search {
    position: absolute;
    right: 15px;
    top: calc(100% + 22px);
    transform: translateY(-50%);
    font-size: 19px;
    color: #6d6a6a;
  }

  






  /*
 .form-control {
    font-size: 16px;
    padding: 10px 40px 10px 30px;
    border: none;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn-primary {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    border-radius: 30px;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0062cc;
  }
  */



   

  .custom-select {
    width: 632px; /* Remplacez cette valeur par la largeur souhaitée */
}

  .custom-select::after {
  content: '\25BC'; /* Flèche vers le bas pour le select */
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #555;
  }

  

  
  
  
  .form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  

  .file-input {
    position: relative;
      
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #afadf1;
    color: #fefefe;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 30px;
  }
  
  .custom-file-upload:hover {
    background-color: #9996fc;
  }
  
  .custom-file-upload i {
    margin-left: 210px;
  }
  
  #file-upload {
    display: none;
  }
  

  .btn-primary {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #4a9cf4;
    border-radius: 30px;
    color: #fff;
    transition: all 0.3s ease;
   
  }
  
  .btn-primary:hover {
    background-color: #0062cc;
  }
 
  .icon {
    position: relative;
  }
  
  .icon .fa-calendar {
    position: absolute;
    right: 20px;
    top: calc(100% + 22px);
    transform: translateY(-50%);
    font-size: 1.5em;
  }

  .btn-success{
    margin-left: 230px;
    margin-bottom: 100px;
    margin-top: 10px;
    background-color: rgb(236, 42, 216);
    border-color: pink;
    
  }
  
  
  
 
  











.item {
    width: 30%;
    text-decoration: none;
    color: black;
    margin: 15px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.item body{
    padding-top: 0;
}

.item h4 {
    height: 75%;
    overflow: hidden;
    padding: 5px 15px;
    font-size: 12px;
    background: gray;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.location-icon {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 5px;
  }
  
  .location-icon::before {
    content: "\f041"; /* code de l'icône en font */
  }
  

.item p {
    background-color: #FFDAB9;
    font-size: 14px;
    line-height: 1.4;
}
.justigy-content-between {
    justify-content: space-between;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .d-flex {
    display: flex;
  }












 .project-wrap {
    margin-bottom: 30px;
    object-fit: none;
    background-size: auto;
    }
    .project-wrap .img {
      display: block;
      height: 350px;
      position: relative;
      z-index: 0;
      border-radius: 8%;
     }
      .project-wrap .img .personne {
        position: absolute;
        top: -8px;
        left: 20px;
        display: inline-block;
        background: #85e61c;
        color: #fff;
        padding: 8px;
        font-size: 16px;
        font-weight: 500;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        }
        .project-wrap .img .personne:after, .project-wrap .img .personne:before {
          position: absolute;
          top: 0;
          content: ''; }
        .project-wrap .img .personne:after {
          left: -8px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 8px 8px;
          border-color: transparent transparent #c7390d transparent; }
        .project-wrap .img .personne:before {
          width: 0;
          right: -8px;
          height: 0;
          border-style: solid;
          border-width: 8px 0 0 8px;
          border-color: transparent transparent transparent #c7390d; }
    .project-wrap.hotel .img {
      height: 320px; }
      .project-wrap .img:hover {
    opacity: 0.7;
}
    .project-wrap .text {
      margin: 0 auto;
      border-radius: 8%;
      width: 95%;
      position: relative;
      border-top: none;
      margin-top: -50px;
      background: linear-gradient(rgb(216, 213, 213),#fff);
      -webkit-box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
      -moz-box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
      box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11); }
      .project-wrap .text span {
        font-size: 13px; }
      .project-wrap .text .days {
        font-size: 12px;
        
        color: #999;
        text-transform: uppercase;
        font-weight: 700; }
      .project-wrap .text h3 {
        font-size: 24px;
        margin-bottom: 0;
        font-weight: 500; }
        .project-wrap .text h3 a {
          color: #000000; }
      .project-wrap .text ul {
        margin: 0;
        padding: 0; }
        .project-wrap .text ul li {
          display: inline-block;
          margin-right: 10px;
          color: #b3b3b3; }
          .project-wrap .text ul li span {
            color: #ef4d1c;
            margin-right: 10px;
            font-size: 20px; }
    .project-wrap:hover .text .personne {
      padding-left: 15px;
      padding-right: 15px;
      background: #33313b; }

    .btn-danger{
      background-color: #85e61c;
      border-color: green;
    }
  
      




    
      .rating {
        font-size: 24px;
      }
      
      .star {
        cursor: pointer;
        font-size: 25px; /*elle ne marche pas et la taille ne change jamais*/
      }
      
      .star:hover,
      .star.active {
        color: gold;
      }
      

