<!-- Header -->
<div style="background-color: rgba(127, 255, 212, 0.068);">
<header class="bg-dark py-5" style="background-image: url('assets/img/antoine-barres.jpg'); color: white;">
  <div class="container px-5 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-2 fw-bolder mb-0">Update Your Post</h1>
      <p class="lead fw-normal text-white-50 mb-0">CampingGo</p>
    </div>
  </div>
</header>
<div class="container my-5" >
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" name="title" id="title" [(ngModel)]="post.title" required ngModel class="form-control" placeholder="Enter Post Title">
            </div>
            <div class="form-group">
              <label for="content">Content</label>
              <textarea name="content" id="content" [(ngModel)]="post.content" required ngModel class="form-control" rows="8" placeholder="What's on your mind, Camper"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
