<div class="d-flex flex-column align-items-center justify-content-between">
<h1 mat-dialog-title>Add a chatroom</h1>
<div class="m-2 w-100 ">
  <input type="text" class="form-control rounded "placeholder="Chatroom name" [(ngModel)]="chatroomName">
</div>
<div class="m-2">
  <input type="file" (change)="onFileSelected($event)" class="form-control w-100">
</div>
<mat-dialog-actions>
  <button class="btn icon-btn  mx-1" [mat-dialog-close]=null>Cancel</button>
  <button [mat-dialog-close]="{
'name':chatroomName,
'file':imageFile
}"
  class="btn btn-primary  mx-1" >Save</button>
</mat-dialog-actions>
</div>
